button {
    font-family: cursive;

}

.login {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: lightgrey;
}