button {
    font-family: cursive;
}

.person {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 15%;
    margin-bottom: 85%;
    background-color: lightgrey;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
